::ng-deep .p-card,
::ng-deep .p-card .p-card-content,
::ng-deep .p-card .p-card-body {
  padding: 0 !important;
  width: 100%;
}

::ng-deep .p-card .p-card-content {
  display: flex;
}

::ng-deep .p-card {
  border-radius: 10px !important;
  overflow: hidden !important;
}

.movie-description {
  max-height: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
