<p-toolbar>
  <div
    class="container min-h-2rem w-full flex justify-content-between align-items-center"
  >
    <h2 class="cursor-pointer" (click)="navigateToDashboard()">Film Finder</h2>
    <div>
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
        size="large"
        (click)="op.toggle($event)"
        class="cursor-pointer"
      >
      </p-avatar>
      <p-overlayPanel #op>
        <div class="flex flex-column gap-3">
          <p-button
            class="full-width-button"
            label="Collections"
            [text]="true"
            (click)="navigateToCollections()"
          />
          <p-selectButton
            [options]="stateOptions"
            [(ngModel)]="value"
            (ngModelChange)="changeTheme($event)"
            optionLabel="label"
            optionValue="value"
          >
            <ng-template let-item pTemplate>
              <div class="flex flex-row gap-1 align-items-center">
                <i [class]="item.icon"></i>
                <span>
                  {{ item.label }}
                </span>
              </div>
            </ng-template>
          </p-selectButton>
        </div>
      </p-overlayPanel>
    </div>
  </div>
</p-toolbar>
