<p-toolbar>
  <div
    class="container h-2rem w-full flex justify-content-between align-items-center"
  >
    <p>LOGO</p>
    <div class="flex align-items-center justify-content-center">
      <a (click)="changeTheme('light-theme')" class="cursor-pointer"> Light </a>
      <a (click)="changeTheme('dark-theme')" class="cursor-pointer"> Dark </a>
    </div>
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      shape="circle"
    />
  </div>
</p-toolbar>
