::ng-deep .p-toolbar {
  border-radius: 0px;
}

::ng-deep .full-width-button .p-button {
  width: 100% !important;
  text-align: start !important;
}

::ng-deep .p-overlaypanel {
  &:before {
    content: none;
  }

  &:after {
    content: none;
  }
}
