@if(query() !== "a"){
<h2 class="container">Search by "{{ query() }}"</h2>

} @if (moviesResponse()?.results && moviesResponse()?.results!.length > 0) {
<div class="flex flex-column gap-4 container">
  <div class="grid">
    @for ( movie of moviesResponse()!.results; track movie.id) {
    <div class="col-12 lg:col-6">
      <p-card>
        <app-movie-element [movie]="movie">
          <p-button
            icon="pi pi-folder-plus"
            class="z-5"
            [rounded]="true"
            [text]="true"
            (click)="onOpenDialog(movie.id); $event.stopPropagation()"
          />
        </app-movie-element>
      </p-card>
    </div>
    }
  </div>

  <p-paginator
    [rows]="itemsPerPage"
    [totalRecords]="moviesResponse()?.total_results"
    [first]="currentPage * itemsPerPage"
    (onPageChange)="onPageChange($event)"
  />
</div>
<router-outlet />
}@else if (moviesResponse()?.results && moviesResponse()?.results!.length === 0)
{
<div class="container flex flex-row justify-content-center my-4">
  <h2>No results found.</h2>
</div>
}
