<p-card class="cursor-pointer" [routerLink]="collection().id">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between align-items-center px-3">
      <h2>{{ collection().title }}</h2>
      <p-button
        icon="pi pi-trash"
        class="z-5"
        severity="danger"
        [rounded]="true"
        [text]="true"
        (click)="onRemoveCollection($event); $event.stopPropagation()"
      ></p-button>
    </div>
  </ng-template>
  @if (collection().movies.length > 0) {
  <div class="grid">
    @for (movie of collection().movies.slice(0, 4); track $index) {
    <div class="col-6 flex justify-content-center align-items-center">
      <img
        class="h-8rem sm:h-12rem image-style border-round-lg"
        [src]="imagePath + 'w300' + movie.poster_path"
        alt="Image"
      />
    </div>
    }
  </div>
  } @else {
  <h3 class="w-full text-center">Empty</h3>
  }
</p-card>
<p-confirmDialog />
