::ng-deep .p-dialog {
  min-width: 400px !important;
  max-width: 1000px !important;
}

.movie-description {
  max-height: 9rem;
  overflow: auto;
}

::ng-deep .create-collection-button .p-button{
  width: max-content !important;
}

@media (max-width: 400px) {
  ::ng-deep .p-dialog {
    min-width: unset !important;
  }
}

