<p-dialog
  [dismissableMask]="true"
  [(visible)]="displayDialog"
  [modal]="true"
  [draggable]="false"
  (onHide)="onCloseDialog()"
  header="Add to collection"
>
  <div class="flex flex-column gap-3">
    <div>
      @if (collections().length>0) {
      <div
        class="flex flex-column md:flex-row justify-content-between md:align-items-center w-full gap-2"
      >
        <form
          [formGroup]="addToCollectionForm"
          (submit)="onSubmit()"
          class="w-full flex justify-content-center"
        >
          <div class="flex gap-2 w-full align-items-center">
            <p-dropdown
              formControlName="collectionID"
              [options]="collections()"
              optionLabel="title"
              optionValue="id"
              placeholder="Select a collection"
            />
            <p-button
              [rounded]="true"
              icon="pi pi-plus"
              type="submit"
              [disabled]="!addToCollectionForm.valid"
            />
          </div>
        </form>
        <p-button
          class="create-collection-button"
          icon="pi pi-plus"
          label="Create Collection"
          (click)="navigateToCreateCollection()"
        />
      </div>
      }@else {
      <div class="flex gap-2 justify-content-between align-items-center">
        <h3>You don't have any collection</h3>
        <p-button
          icon="pi pi-plus"
          label="Create Collection"
          (click)="navigateToCreateCollection()"
        />
      </div>
      }
    </div>
    @if(loading()){
    <app-skeleton-movie-element />
    }@else if(movie()){
    <app-movie-element [movie]="movie()!" />
    }
  </div>
</p-dialog>
<p-toast />
